header#main-header {
    width: 100%;
    height: 60px;
    background: #000;
    color: #bd1e1e;
    font-size: 34px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

